---
import MasterLayout from '../../layouts/MasterLayout.astro';
import StoreItem from '../../components/StoreItem.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import StoreItem from '../../components/StoreItem.astro';

const posts = (await getCollection('store')).sort(
	(a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);
---

<MasterLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="container"> 
    <div class="row"> 
      <div class="col-12"> 
        <h1>Store</h1>
        <div>
          {posts.map((post) => (
            <StoreItem post={post} />
          ))}
        </div>
      </div>
    </div>
  </div>
</MasterLayout>

