---
import MasterLayout from "../layouts/MasterLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<MasterLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="container">
    <div class="row">
      <div class="col-12">
        Book Service
      </div>
    </div>
  </div>
</MasterLayout>