---
import MasterLayout from "../layouts/MasterLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("links"));
const filteredPosts = posts.map((p) => p.data);
// console.log(filteredPosts);
---


<MasterLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="container" style="margin-top: 8rem; margin-bottom: 8rem;">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <img src="img/bolty-f2.png" alt="bolty" width="512" class="img-fluid mt-3">
        <h3 class="mt-3 display-6">
          Worry free denting and painting services by industry experts with <u>100%</u> color match guarantee. 
        </h3>

        <a href="/get-estimation" class="btn btn-secondary btn-lg mt-3">Get Free Estimation -></a>
      </div>
    </div>

    <div class="row mt-5 pt-3">
      <div class="col-sm-12 col-md-3 mb-3">
        <div class="d-flex align-items-center">
          <img src="img/accept.png" alt="accept" width="32" class="me-3">
          <p class="mb-0">Choose your convenient time.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-3">
        <div class="d-flex align-items-center">
          <img src="img/accept.png" alt="accept" width="32" class="me-3">
          <p class="mb-0">Free Pick up & Drop facility.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-3">
        <div class="d-flex align-items-center">
          <img src="img/accept.png" alt="accept" width="32" class="me-3">
          <p class="mb-0">Credit card and EMI options.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-3">
        <div class="d-flex align-items-center">
          <img src="img/accept.png" alt="accept" width="32" class="me-3">
          <p class="mb-0">Get timely updates about serivce.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Why bolty -->

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="fw-bold">What people are saying</h2>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="card card-body shadow p-5">
          <img src="img/testimonies/jaideep.png" alt="jaideep" width="128">
          <div class="mt-3">
            <p>"I came across Bolty in Instagram. I contacted them over WhatsApp and my experience was very good. They received me well. I have checked their previous works and gave my car for full body painting. The output was excellent. I recommend Bolty for all denting and painting services."</p>
            <p class="mb-0">- Jaideep.</p>
            <small>Software Engineer.</small>
            <div>
              <small><a href="https://www.instagram.com/reel/C9pMjSeSGVz/" target="_blank">View Testimony</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="card card-body shadow p-5">
          <img src="img/testimonies/surya-prakash.png" alt="suryaprakash" width="128">
          <div class="mt-3">
            <p>"I have got excellent reponse from Bolty. The quality of service is very good. I am satisfied with service and Bolty team as well. I liked the response during the serivce. I am happy to associate with them. You can take services from Bolty without any hesitation."</p>
            <p class="mb-0">- Surya Prakash.</p>
            <small>Government Employee.</small>
            <div>
              <small><a href="https://www.instagram.com/reel/C992MEBSZq4/" target="_blank">View Testimony</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="card card-body shadow p-5">
          <img src="img/testimonies/skhan.png" alt="khan" width="128">
          <div class="mt-3">
            <p>"I have checked almost 200 serives to get the service done. But no one has taken my car. I finally heard Bolty in Instagram. I concated them and they gave all the details perfectly. Each and every aspect of the service was updated to me. I got 100% color matching and the car was delivered in perfect condition."</p>
            <p class="mb-0">- Shahzad Khan.</p>
            <small>Business Owner.</small>
            <div>
              <small><a href="https://www.instagram.com/reel/C_VvnGzScFq/" target="_blank">View Testimony</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5" style="background-color: #8100a629; padding: 5rem 0rem;">
    <div class="container">
      <div class="row">
        <div class="col">
         <h3 class="display-1">Bolty experience made our customers happy. The output made their cars shine like new.</h3>
         <a href="#" class="btn btn-lg btn-dark mt-3">Customer Stories -></a>
        </div>
      </div>
    </div>
  </div>

  <!-- End why bolty -->

  <!-- 3 points for bolty -->

  <div class="container my-5" style="padding: 10rem 0rem;">
    <div class="row">
      <div class="col-sm-12 col-md-4 d-flex align-items-center bg-primary">
        <div class="text-center text-white w-100">
          <h4 class="display-1 py-4">Why Choose Bolty?</h4>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 d-flex align-items-center">
        <div class="p-5">
          <div class="mb-5">
            <h3>Over a Decade of Expertise.</h3>
            <p>With 10+ years in the industry, our seasoned professionals ensure top-notch quality and precision in every job. Your car is in expert hands.</p>
          </div>
          <div class="mb-5">
            <h3>Premium, Industry-Grade Paints.</h3>
            <p>We use only the highest-quality, industry-approved paints to give your car a flawless, long-lasting finish that stands the test of time. Duxone and Würth are our go-to choice.</p>
          </div>
          <div>
            <h3>Perfect Color Match Guaranteed.</h3>
            <p>We guarantee a seamless color match so precise that no one will ever notice a difference. Your car will look as good as new—every single time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end 3 points for bolty -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h3 class="fw-bold display-3">Bolty Promises</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-5">
        <img src="img/love.png" alt="Love" width="64">
        <h3 class="mt-3">Service with Love and Care</h3>
        <p>We treat every car as if it were our own, ensuring top-quality workmanship with a personal touch. Our commitment to excellence means your vehicle gets the care and attention it truly deserves.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-5">
        <img src="img/quality-control.png" alt="quality-check" width="64">
        <h3 class="mt-3">Rigorous Checks for highest output</h3>
        <p>We perform thorough inspections at every stage to ensure flawless results. Our strict quality control guarantees the highest level of precision and perfection for your car.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-5">
        <img src="img/clean-car.png" alt="quality-check" width="64">
        <h3 class="mt-3">Finishing Like Showroom Car</h3>
        <p>We restore your car’s shine and perfection to match a brand-new showroom finish. With expert craftsmanship and premium materials, your vehicle will look as good as new.</p>
      </div>
    </div>

  </div>

  <div class="mt-5" style="background-color: #ff8d3140; padding: 5rem 0rem;">
    <div class="container">
      <div class="row">
        <div class="col text-center">
         <h3 class="display-1">We also provide 1 year service warranty. What are you waiting for?</h3>
         <a href="/get-estimation" class="btn btn-secondary btn-lg mt-3">Get Free Estimation -></a>
        </div>
      </div>
    </div>
  </div>
</MasterLayout>
