<div class="bg-white" style="padding: 3rem 0rem;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="">
          <p class="mb-0">A product of</p>
          <a href="https://prasanta.business" target="_blank">Prasanta Communications</a>
        </div>
      </div>
  
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <small><a href="/privacy-policy">Privacy Policy</a></small>
          </div>
          <div>
            <small><a href="/shipping-and-delivery">Shipping & Delivery</a></small>
          </div>
          <div>
            <small><a href="/refund-and-cancellation-policy">Refund and Cancellation</a></small>
          </div>
          <div>
            <small><a href="/terms-and-conditions">Terms and Conditions</a></small>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>