---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg rounded p-4" style="background-color: #ff8d31" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">BOLTY</a>
          <a class="nav-link" href="/store" style="margin-left:50%;">Store</a>
          <a class="nav-link" href="/blog" style="margin-left:;">Blog</a>
          <a class="btn btn-dark" href="#service-bookings">Book Services</a>
        </div>
      </nav>
    </div>
  </div>
</div>

