---
import MasterLayout from '../../layouts/MasterLayout.astro';
import SearchStore from "../../components/SearchStore.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import StoreItem from '../../components/StoreItem.astro';

const posts = (await getCollection('links')).sort(
	(a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);
---

<MasterLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="container my-5"> 
    <div class="row"> 
      <div class="col-12"> 
        <h1 class="mb-0">Links</h1>
        <p>These are hand-picked products that we have found to be the best value for your car.</p>
        
        <div class="my-4">
          <SearchStore />
        </div>

        <div>
          {posts.map((post) => (
            <StoreItem post={post} />
          ))}
        </div>
      </div>
    </div>
  </div>
</MasterLayout>

